.game-board {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  justify-content: center;
}

.card {
  position: relative;
  transition: 0.5s transform ease-in;
  transform-style: preserve-3d;
  color: white;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card-face.is-front {
  text-decoration: none;
  transform: rotateY(180deg);
  align-items: center;
}

.card-image {
  width: 100px;
  height: 100px;
}

.card-face.is-back {
  background-color: blue;
  color: white;
  border: 5px solid #ccc;
}

.card-face {
  width: 100%;
  height: 100%;
  position: absolute;
}